* {
  box-sizing: border-box;
}
.gameBoard {
  height: 800px;
  width: 800px;
}
.row {
  display: flex;
}
.square {
  width: 100px;
  height: 100px;
  background-color: rgb(247, 211, 211);
  display: grid;
  place-content: center;
  position: relative;
}
.square--off-color {
  background-color: rgb(165, 124, 124);
}

.chess-piece {
  width: 100%;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.chess-piece:active {
  cursor: grabbing;
}
.availableMoves {
  background-color: black;
  opacity: 0.5;
}
.highlight-border {
  border: 4px rgba(255, 255, 255, 0.767) solid;
}
.highlight-box {
  background-color: rgba(227, 252, 196, 0.658);
}

.hint {
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.417);
  z-index: 2;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transition: 100ms opacity ease-in-out;
  transform: translate(-50%, -50%);
  display: none;
  pointer-events: none;
}
.hint-enemy {
}
.visible {
  display: block;
}
