*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: sans-serif;
}
.chess-piece {
  width: 100%;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  position: relative;
}
.chess-piece:active {
  cursor: grabbing;
}
.availableMoves {
  background-color: black;
  opacity: 0.5;
}
.hint {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transition: 100ms opacity ease-in-out;
  transform: translate(-50%, -50%);
  display: none;
  pointer-events: none;
}
.hint--small {
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.144);
  display: block;
}
.hint--large {
  border: 8px solid rgba(0, 0, 0, 0.144);
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: block;
}

.rotate {
  transform: rotate(180deg);
}
.dragged-Piece {
  position: absolute;
}

/* .timer {
  position: absolute;
  right: -8rem;
  font-size: 2.4rem;
  pointer-events: none;
  user-select: none;
}
.timer-rotate {
  left: -8rem;
  right: initial;
  transform: rotate(180deg);
}
.timer-white {
  bottom: 0;
} */
.square--coords {
  color: rgb(247, 211, 211);
  font-size: 2.4rem;
  font-weight: bold;
  position: absolute;
  padding: 0.5rem;
  pointer-events: none;
  user-select: none;
}
.square--coords-x {
}
.square--coords-y {
  right: 0;
  bottom: 0;
}
.square--coords--off-color {
  color: rgb(165, 124, 124);
}
.square--coords-secondary {
  transform: rotate(180deg);
}
.square--coords-secondary-x {
  bottom: 0;
  right: 0;
}
.square--coords-secondary-y {
  right: inherit;
  bottom: inherit;
}
.square--coords-hidden {
  display: none;
}
.board {
  display: flex;
  flex-direction: column;
}
