*,
*:before,
*:after {
  box-sizing: border-box;
}
.gameBoard {
  height: 800px;
  width: 800px;
  margin: 0;
  padding: 0;
  position: relative;
}
.row {
  display: flex;
}
.square {
  width: 100px;
  height: 100px;
  background-color: rgb(247, 211, 211);
  display: grid;
  place-content: center;
  position: relative;
}
.square--off-color {
  background-color: rgb(165, 124, 124);
}

.chess-piece {
  width: 100%;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  position: relative;
  /* z-index: 3; */
}
.chess-piece:active {
  cursor: grabbing;
}
.availableMoves {
  background-color: black;
  opacity: 0.5;
}
.highlight-border {
  border: 4px rgba(255, 255, 255, 0.767) solid;
}
.highlight-box {
  background-color: rgba(227, 252, 196, 0.658);
}
.hint {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transition: 100ms opacity ease-in-out;
  transform: translate(-50%, -50%);
  display: none;
  pointer-events: none;
}
.hint--small {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.144);
  display: block;
}
.hint--large {
  border: 8px solid rgba(0, 0, 0, 0.144);
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: block;
}

.rotate {
  transform: rotate(180deg);
}
.dragged-Piece {
  position: absolute;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 100px;
  position: absolute;
  background-color: rgb(241, 236, 236);
  cursor: pointer;
  z-index: 1;
  display: none;
}
.modal--black,
.modal--black > .modal-image {
  transform: rotate(180deg);
  bottom: 0;
}
.visible-modal {
  display: flex;
}
