.player--card-top {
  order: -1;
}
.player--card-bottom {
  order: 3;
}
.player--card {
  display: grid;
  grid-template-columns: 5rem 1fr 0fr;
  grid-template-rows: 5rem;
  width: 80rem;
  /* height: 5rem; */
  padding: 1rem 0;
  background-color: #444;
  color: #ddd;
  font-size: 1.4rem;
  gap: 1rem;
}
.player--card-image {
  height: 100%;
}
.player--card-timer {
  background-color: grey;
  /* padding: 0.4rem; */
  padding: 0 1rem;
  font-size: 2.4rem;
  pointer-events: none;
  user-select: none;
  justify-self: center;
  align-self: center;
  width: 14rem;
  height: 100%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}
.player--card-content {
  flex-basis: 100%;
}
